<blockquote>

<div class="">
    <b>Title: </b><%= @post.title %>
</div>
<br>
<div class="">
  by <%= link_to(@post.user.name, user_path(@post.user)) %>

  <br>
  <% if @post.user_id == current_user.id %>
  <%= link_to 'Delete', post_path, method: "DELETE", data: {confirm: 'Are you sure?'}%>
  <% end %>
</div>
<br>
<div class="">
  <%= @post.body %>
  <br>
</div>
<br>
<div class="">
    <ul>
      <% @post.comments.each do |c| %>
      <%= c.body %>
      <br>
      <br>
      by <%= link_to(c.user.name, user_path(c.user)) %>
      <br>
      <br>

      <br>

        <br>
        <br>
      <% end %>

    </ul>



<br>

  <p>Create Comment</p>

    <%= form_for [@post, @comment] do |f| %>
    <div><%= f.text_area :body, placeholder: "..." %></div>

    <div>
      <%= f.submit 'Submit'%>
    </div>

    <% end %>

    <% if @user.comment == current_user.id %>
    <%= link_to 'Delete', post_path, method: "DELETE" %>
    <% end %>

<br>


</blockquote>


<div class="">
  <%= link_to 'Return to Recent Posts', posts_path %>
</div>
